<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <!-- Agrega tus etiquetas de estilo y otros elementos del encabezado aquí -->
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  <!-- Agrega tus scripts u otros
