extends layout

block content
  .container
    .row.mb-5
      .col
        h1.text-center.mb-4.text-primary Mi Servidor
    .row
      .col-md-6
        h2.mb-3.text-success Users
        ul.list-group
          li.list-group-item User 1
          li.list-group-item User 2
          li.list-group-item User 3
      .col-md-6
        h2.mb-3.text-info Add User
        form
          .mb-3
            label(for="username") Username
            input#username.form-control(type="text", placeholder="Enter username")
          .mb-3
            label(for="email") Email address
            input#email.form-control(type="email", placeholder="Enter email")
          button.btn.btn-primary(type="submit") Add User

    // Footer
    footer.bg-primary.text-white.mt-5.py-3
      .container
        .row
          .col.text-center
            p &copy; 2023 Mi Servidor. Todos los Derechos Reservados.
